* ,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --color-gray:#333
    --shadow:0 1px 10px 1px rgb(209, 209, 209);
    
    --primary1:white;
    --primary6:gray;
    --primary2:blue;
    --primary3:orangered;
    --primary4:green;
    --primary5: cyan ;
    --shadow-dark:rgba(0, 0, 0, 0.241);


    
}
html {
    font-size: 62.5%;
}
body{
    /* background-color: var(--base-color); */
    color: var(--color-gray);
    font-size: 1.6rem;
}
ul{
    list-style: none;
}
