.menu{
    bottom: 2.4rem;
    background-color: var(--primary1);
    box-shadow: 0 1px 10px 1px rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
    
    
}
.tools-list{
    display: flex;
    justify-content: space-around;
}