.tool{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: .3s;
    cursor: pointer;
    padding: 1.2rem 2.4rem;

}
.tool--active{
    box-shadow: inset 2px 2px 2px 2px rgb(209, 209, 209) ;

}