.block{
    background-color: var(--primary1);
    width: 100%;
    aspect-ratio: 1;
    border-left: 1px solid var(--primary6);
    border-bottom: 1px solid var(--primary6);
    background-color:  var(--primary1);
    transition: .3s;

}
/* STATES */
.obstacle {
    background-color: brown;

}
.start{
    background-color:green;
}
.home {
    background-color: blue;
}
.active {
    background-color: cyan;
}